/*Applied All*/
html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(245, 208, 165, 0.63);
}

/*Responsive*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="column-"] {
    float: left;
    padding: 15px;
}

.column-1{width: 8.33%;}
.column-2 {width: 16.66%;}
.column-3 {width: 25%;}
.column-4 {width: 33.33%;}
.column-5 {width: 41.66%;}
.column-6 {width: 50%;}
.column-7 {width: 58.33%;}
.column-8 {width: 66.66%;}
.column-9 {width: 75%;}
.column-10 {width: 83.33%;}
.column-11 {width: 91.66%;}
.column-12 {width: 100%;}

.quote-box {
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 5%;
    border: solid 5px;
}

#box {
    background-color: black;
    position: absolute;
    left: 35px;
    top: 115px;
    z-index: -1;
    height: 190px;
}

#content {
    background-color: white;
    position: absolute;
    left: 28px;
    top: 135px;
    height: 155px;
    width:290px;
    border:none;
    border-radius: 0 0 3% 3%;
    border-top: solid 3px;
}

#exit-symbol {
    background-color: white;
    position: absolute;
    left: 273px;
    top: 100px;
    height: 35px;
    width: 45px;
    border:none;
    border-radius: 0 15% 0 0;
    border-left: solid 3px;
}

.quote-box .heading {
    margin: 0;
    position: absolute;
    top: 15.5%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#content label {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#exit-symbol label {
    font-size: 35px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
